<h2>Add a spot</h2>

<form action="/spots/create">
 <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="1" name="name"></textarea>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="1" name="address"></textarea>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="1" name="phone"></textarea>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="1" name="website"></textarea>
  </div>
  <div class="form-group">
    <label>Add your favorite pizza place:</label>
    <select class="form-control" name="thincrust">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
