# <div class="col-md-12">
#   <h3 class="firstresponse"><strong><%= @location %> Weather</strong></h3>
#   <p><strong><em>Current temperature is <%= @current_temperature %> degrees</em></strong></p>
#   <p><strong><em>Current conditions are <%= @current_conditions %></em></strong></p>
#   <h4 class="extended">The extended forecast is </h4>
# </div>

<h3>hello world</h3>