



<h1><%= @spot[:name] %></h1>
<p><%= @spot[:address] %></p>

<h3>Likes</h3>
<p><%= @vote_count %></p>

<a href="/spots/<%= @spot[:id] %>/votes/new" class="btn btn-primary">Vote now!</a>


  primary_key :id
  String :name
  String :address
  String :phone
  String :website
  Boolean :thincrust