<h1>Ode to Pizza</h1>
<h2>Vote for your favorite pizza spot!</h2>
<h2>or find your next one ... </h2>

<div class="container">
  <div class="row">
    <div class="col-md-6"> 
    <a href="/spots/thincrust"><h3>Team Thin Crust!</h3></a>
    <h4>"####" Strong</h4>
    </div>
    <div class="col-md-6"> 
    <a href="/spots/deepdish"><h3>Team Deep Dish!</h3></a>
    <h4>"####" Strong</h4>
    <p><%= @total_vote %></p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h1>Enter your location of interest:</h1>
  <form action="/search">
    <input type="text" name="q">
    <button type="submit">Get Information</submit>
  </form>
</div>
